.button{
    -fx-font-family: "Lucida Console";
    -fx-background-color: #76C1C4;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.button:hover{
    -fx-font-family: "Lucida Console";
    -fx-background-color: #56A3A6;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

#VBox_All,
#ToolBar_Top{
    -fx-background-color: #9fc7b8;
}

#logo{
    -fx-border-radius: 20px;
}

#VBox_Content{
    -fx-background-color: #76C1C4;
}

#HBox_Content_Top_Arrow_Right,
#HBox_Content_Top_Arrow_Left{
    -fx-background-color: #76C1C4;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

#HBox_Content_Top_Arrow_Right:hover,
#HBox_Content_Top_Arrow_Left:hover{
    -fx-background-color: #56A3A6;
}

#breakfastAnchor,
#dinnerAnchor,
#lunchAnchor,
#supperAnchor,
#dessertAnchor {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

