.button{
    -fx-background-color: #f2d457;
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.button:hover{
    -fx-background-color: #dfc45b;
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

#addMealButton,
#summaryButton,
#addRecipeButton{
    -fx-background-color: #44e38d;
}

#addMealButton:hover,
#summaryButton:hover,
#addRecipeButton:hover{
    -fx-background-color: #39C378FF;
}

#logo,
#AnchorPane_Left{
    -fx-background-color: #f2d457;
}

#ToolBar_Top{
    -fx-background-color: #ebebeb;
}

#VBox_Content{
    -fx-background-color: #ebebeb;
}
#HBox_Content_Top{
    -fx-background-color: #44e38d;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 5);
}
#HBox_Content_Footer{
    -fx-background-color: #44e38d;
}

#HBox_Content_Top_Arrow_Right,
#HBox_Content_Top_Arrow_Left{
    -fx-background-color: #44e38d;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#breakfastAnchor,
#dinnerAnchor,
#lunchAnchor,
#supperAnchor,
#dessertAnchor {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

#nameInput,
#caloriesInput,
#proteinsInput,
#carbsInput,
#fatInput,
#nameInputMeal,
#recipeText,
#mealView,
#typeView,
#mealTypeInput,
#recipePicker{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

#addIngredientLabel
{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-color: #F2D457FF;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

#mealConfigLabel{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-color: #44E38DFF;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

#mainAnchorPopUp{
    -fx-background-color: #EBEBEBFF;
}


