.button{
    -fx-font-family: "Lucida Console";
    -fx-background-color: #89eabe;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.button:hover{
    -fx-font-family: "Lucida Console";
    -fx-background-color: #5a9a7f;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 6;
}

#toolBarUpper{
    -fx-background-color: #a6c4b8;
}

#toolBarLeft{
    -fx-background-color: #a6c4b8;
}

#logo{
    -fx-border-radius: 20px;
}

#button_middle{
    -fx-background-color: #89eabe;
}

#HBoxFooter{
    -fx-background-color: #44e38d;
}

#HBoxDate{
    -fx-background-color: #44e38d;
}